
body{
  background-color: #DFFFFD;
  margin: 0;
  text-align: center;
   align-items: flex-start;
  font-family: sans-serif;
  size:75%
}
.c1{
  font-size: 430%;
}
hr{
  border: dotted grey 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}
.content{
  text-decoration: underline;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Cinzel', serif; */
  font-family: 'Merienda', cursive;
}
h1{
    font-family: 'Merienda', cursive;

}
p{
    font-size: 20px;
    font-family: 'Cinzel', serif;
  /* font-family: 'Ubuntu', sans-serif; */
}
.middle-container{
  text-align: center;
}
.top{

  position: relative;
  top:100px;
  margin: auto;
}
.mount{
  margin: auto;
}
.top-cloud{
  position: relative;
  left:250px;
}
.bottom-cloud{
    position: absolute;
}

.wallburst{
  height: 400px;
  width: 400px;
  /* position: absolute; */
  position: relative;
  align-items: center;
  right: 700px;
  top:320px;
  display: inline-block;
  /* float: left; */
}
.desc{
  font-size: 200%;
}

.profile{
  height: 400px;
  width: 800px;
  margin-left: 400px;
  margin-top: 100px;
  position: relative;
  left:200px;
  bottom: 350px;
}
.table{
  position: relative;
  left:200px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 300px;
}
.tablehead{
  background-color: #42C2FF;
    border-collapse: collapse;
  color:white;
  font-weight: bold;
  text-align: left;
  padding: 12px 20px;
}
tr{
  text-align: left;
    border-collapse: collapse;
  padding: 12px 20px;
}
.skillpic{
  height: 450px;
  width:500px;
  position: relative;
  display: inline-block;
  left:600px;
  top:400px;
}
.skill-row{
  height: 400px;
  width:600px;
  padding: 30px;
  text-align: center;
  position: relative;

  bottom: 600px;
}
.contentpic{
  height: 600px;
  width:600px;
  position: relative;
  display: inline-block;
  left:700px;
  top:400px;
}
.content-row{
  height: 400px;
  width:800px;
  left:70px;
  position: relative;
  bottom: 500px;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.thanks{
  height: 300px;
  width:300px;
  position:relative;
  display: inline-block;
  right:300px;


}
.bottom-container{
  background-color: #053742;
  font-size: 200%;
  color: white;
  width: 2000px;
  position: relative;
  text-align: center;
  right:100px;
  bottom:2px;
  margin-right: 100px;
  font-size: 30px;
  font-family: 'Cinzel', serif;
}
.contact-me{
  width:40%;
  margin: 40px auto 40px;
}
.footer-link{
  color: white;
  font-size: 2em;
  position: relative;
  bottom: 130px;
  right: 200px;
}
.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 6px 6px 4px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 18px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.paratext{
  font-size: 150%;
  font-weight: bold;
}
.last{
  font-weight: bolder;
  font-size: 150%;
}
